
{% extends "layout.html" %}

{% block title %}Shop - Meine Website{% endblock %}

{% block content %}
    <h1>Unsere Ware</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">

                <img src="{{ url_for('static', filename=product.bild) }}" class="format-jpeg" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.preis }} €</p>
                    <a href="#" class="btn btn-primary">Jetzt kaufen</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}